In [10]:
#11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

import zoo
zoo.hours()

Open 9-5 daily

In [11]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
#16.4 

import sqlite3
db = sqlite3.connect("books.db")
#creating table
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title TEXT, author TEXT, year INTEGER)")
#adding values
cursor.execute("INSERT INTO books VALUES ('Harry Potter', 'J.K Rowling', 1999)")
cursor.execute("INSERT INTO books VALUES ('White Teeth', 'Zadie Smith', 2001)")
cursor.execute("INSERT INTO books VALUES ('Attonement', 'Ian McEvan', 2006)")

##16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.
title = cursor.execute("SELECT title FROM books").fetchall()
title.sort()
print(title)

[('Attonement',), ('Harry Potter',), ('White Teeth',)]